In [2]:
import pandas as pd
import seaborn as sns

tinder_table = pd.read_csv("Tinder Millennial Match Rate Dataset.csv")
tinder_table

,ID,Segment Type,Segment Description,Answer,Count,Percentage,It became a Relationship
0,292881,Mobile,Mobile respondents,Yes,797,0.207,Yes
1,292883,Mobile,Mobile respondents,No,1969,0.511,No
2,292885,Mobile,Mobile respondents,I don't use Tinder,1090,0.283,Yes
3,292887,Web,Web-based respondents,Yes,0,0.000,No
4,292889,Web,Web-based respondents,No,0,0.000,No
...,...,...,...,...,...,...,...
448,293777,University,Boston College,No,4,0.800,Yes
449,293779,University,Boston College,I don't use Tinder,1,0.200,No
450,293781,University,Boston University,Yes,2,0.333,Yes
451,293783,University,Boston University,No,3,0.500,No
452,293785,University,Boston University,I don't use Tinder,1,0.167,No